
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Spotify-Account-Creator.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
__pycache__/generator.cpython-38.pyc
__pycache__/colors.cpython-38.pyc
Created [CAPTURE].txt
Created [RAW].txt
Families.txt
Created [CAPTURE].txt
Created [RAW].txt
*.pyc
*.txt
